

.loader__background {
  position: fixed;
  z-index: 99;
  background-color: #F6F6F6;
  width: 100%;
  height: 100%;
  animation: loaderFadeOut 3.5s ease-out forwards;

  .loader__text {
    display: flex;
    position: absolute;
    left: 46%;
    bottom: 55%;
    font-family: "Shrikhand", serif;
    font-style: italic;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    animation: loaderFadeOut 3.5s ease-out forwards;

  }

  .loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
    animation: loaderFadeOut 3.5s ease-out forwards;

  }

  .loader::before,
  .loader::after {
    content: '';
    border: 1em solid #9356DC;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
  }

  .loader::before {
    animation-delay: 0.5s;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }

  50% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: scale(1);
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes loaderFadeOut {
  0% {
    opacity: 5;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}




/* Animation pour cœur rempli */

@keyframes fillHeart {
  to {
    color: transparent; 
  }
}


/* L'icône "solid" est initialement invisible  */
.restaurant__btn--icon-solid {
  opacity: 0; 
  transition: opacity 2.0s ease; /* Animation de la propriété opacité sur 2 secondes avec une transition en douceur */
}

/* Lorsque la souris survole l'icône "regular", l'icône "solid" devient visible */
.restaurant__btn--icon:hover + .restaurant__btn--icon-solid,
.restaurant__btn--icon-solid:hover {
  opacity: 1; 
}

.restaurant__btn--icon-solid::before {
  background: linear-gradient(#9356DC, #FF79DA); 
  background-clip: text; /* Appliquer le dégradé uniquement à l'icone */
  color: transparent; 
}
 






/* Animation pour l'apparation des plats */ 

@keyframes fade-up {
   0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
   }

   100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
   }
}




/* Animation pour la selection du menu */ 

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
  margin-right: -20%; /* Position hors de l'écran par défaut */
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: margin-right 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92); /* Animation de transition de la marge */
}

/* Styles pour l'icône à l'intérieur de .checkout */
.checkout::after {
  display: inline-block;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92); /* Animation de transition de l'icône */
}

/* Lorsque .menu__cards--info est survolé, ajuste la marge pour afficher .checkout */
.menu__cards--info:hover > .checkout {
  margin-right: 0; /* Modifier la marge pour afficher le checkout */
}
