
/* Animation le cœur rempli */

@keyframes fillHeart {
  to {
    color: transparent; 
  }
}



/* L'icône "solid" est initialement invisible  */
.restaurant__btn--icon-solid {
  opacity: 0; 
  transition: opacity 2.0s ease; /* Animation de la propriété opacité sur 2 secondes avec une transition en douceur */
}

/* Lorsque la souris survole l'icône "regular", l'icône "solid" devient visible */
.restaurant__btn--icon:hover + .restaurant__btn--icon-solid,
.restaurant__btn--icon-solid:hover {
  opacity: 1; 
}

.restaurant__btn--icon-solid::before {
  background: linear-gradient(#9356DC, #FF79DA); 
  background-clip: text; /* Appliquer le dégradé uniquement à l'icone */
  color: transparent; 
}
 






/* Animation pour l'apparation des plats */ 

@keyframes fade-up {
   0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
   }

   100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
   }
}




/* Animation pour la selection du menu */ 

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
  margin-right: -20%; /* Position hors de l'écran par défaut */
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: margin-right 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92); /* Animation de transition de la marge */
}

/* Styles pour l'icône à l'intérieur de .checkout */
.checkout::after {
  display: inline-block;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92); /* Animation de transition de l'icône */
}

/* Lorsque .menu__cards--info est survolé, ajuste la marge pour afficher .checkout */
.menu__cards--info:hover > .checkout {
  margin-right: 0; /* Modifier la marge pour afficher le checkout */
}
